# This is a basic workflow to help you get started with Actions

name: Merge Gate

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8.5]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: Gr1N/setup-poetry@v8

      - name: Print Python Version
        run: python3 -c "import sys; print(sys.version)"

      - name: Re-Home the Repository
        run: |
          ./repository-setup/rehome-repository
          cat ./.env

      - name: Setup the Virtual Environment
        run: |
          ./development/setup-environment
